<header>
    <section class="logo-section">
        <a href="/">
            <img src="/images/static_images/med_bg.png" alt="">
            <span> MedMeet </span>
        </a>
    </section>
    <section class="menu-section">
        <div class="menu-section-container">
            <a href="#" class="menu-section-btn">About</a>
            <a href="#" class="menu-section-btn">Contact</a>
            <a href="#" class="menu-section-btn">Pricing</a>
        </div>
    </section>
    <section class="user-auth">
        <div class="user-auth-container">
            <a href="#" class="user-auth-btn">Log in</a>
            <a href="#" class="user-auth-btn user-btn-signup">Sign up</a>
        </div>
    </section>
</header>