<header>
    <section class="logo-section">
        <a href="/">
            <img src="/images/static_images/med_bg.png" alt="">
            <span> MedMeet </span>
        </a>
    </section>
    <section class="menu-section">
        <div class="menu-section-container">
            <div class="menu-section-btn">About</div>
            <div class="menu-section-btn">Contact</div>
            <div class="menu-section-btn">Pricing</div>
        </div>
    </section>
    <section class="user-auth">
        <div class="user-auth-container">
            <div class="user-auth-btn">Log in</div>
            <div class="user-auth-btn">Sign up</div>
        </div>
    </section>
</header>
<input type="color" name="" id="">