body {
    background-color: white;
    margin: 0;
    color: #333;
}

.home-intro-wrapper {
    position: relative;
}

.home-intro-container {
    background-image: url('/images/static_images/home_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    width: 100%;
    margin-bottom: 20px;
    filter: blur(1px) brightness(70%);
    display: grid;
    justify-content: center;
}

.home-intro-content {
    width: 100%;
    height: 15rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 24%;

}

.home-intro-content h1 {
    font-size: 3rem;
    text-align: center;
}

.home-intro-content div.home-intro-subcontent {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.features-container {
    display: grid;
    grid-template-columns: auto;
    /* border: 1px solid red; */
    grid-gap: 2.5rem;
    font-family: 'Lato', sans-serif;
}

.features-container-even {
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 1rem;
    justify-content: space-between;
}

.features-container-odd {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 1rem;
    justify-content: space-between;
}

.features-even-content {
    text-align: center;
    padding: 30px 7rem;
}

.features-even-content h2 {
    font-size: 2rem;
}

.features-even-img img {
    max-width: 18rem;
    width: 18rem;
    height: 18rem;
    display: block;
    margin: auto;
}

.cta-container {
    height: 12rem;
    box-shadow: 0 0 15px rgba(25, 85, 123, 0.171);
    margin: 30px 57px 0 57px;
    font-family: 'Lato', sans-serif;
    padding: 12px 0;
}

.cta-container h1 {
    font-size: 2.5rem;
    text-align: center;
}

.cta-container-btn-wrapper {
    width: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
}

.cta-container-btn-wrapper > a:first-child {
    background-color: rgb(70, 200, 187);
    color: white;
}

.cta-container-btn-wrapper > a:last-child {
    box-shadow: 0 0 15px rgba(25, 85, 123, 0.171);
    color: rgb(70, 200, 187);
} 

.cta-container-btn {
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;
    color: #333;
    font-size: 1.3rem;
    border-radius: 35px;
    transition: all 500ms ease;
}

a.cta-container-btn:hover {
    box-shadow: 0 0 15px rgba(25, 85, 123, 0.171);
}