body {
    background-color: white;
    margin: 0;
    color: #333;
}

.home-intro-wrapper {
    position: relative;
}

.home-intro-container {
    background-image: url('/images/static_images/home_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    width: 100%;
    margin-bottom: 20px;
    filter: blur(1px) brightness(70%);
    display: grid;
    justify-content: center;
}

.home-intro-content {
    width: 100%;
    height: 15rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 24%;

}

.home-intro-content h1 {
    font-size: 3rem;
    text-align: center;
}

.home-intro-content div.home-intro-subcontent {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.features-container {
    display: grid;
    grid-template-columns: auto;
    border: 1px solid red;
    grid-gap: 1rem;
    font-family: 'Lato', sans-serif;
}

.features-container-even {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 1rem;
    justify-content: space-between;
}

.features-container-odd {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 1rem;
    justify-content: space-between;
}

.features-even-content {
    text-align: center;
    padding: 30px;
}

.features-even-img img {
    width: 18rem;
    height: 18rem;
    display: block;
    margin: auto;
}