<div class="container">
    <section class="home-intro">
        <div class="home-intro-wrapper">
            <div class="home-intro-container">
            </div>
            <div class="home-intro-content">
                <h1> Connecting Patients and Doctors Seamlessly </h1>
                <div class="home-intro-subcontent"> Make the most out of your appointments, improve your productivity and avoid dissapointments with MedMeet  </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="features-wrapper">
            <div class="features-container">
                <div class="features-container-even">
                    <div class="features-even-content">
                        blah1even
                    </div>
                    <div class="features-even-img">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="" alt="">
                    </div>
                    <div class="features-even-content">
                        blah2odd
                    </div>
                </div>
                <div class="features-container-even">
                    <div class="features-even-content">
                        blah3even
                    </div>
                    <div class="features-even-img">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="" alt="">
                    </div>
                    <div class="features-even-content">
                        blah4odd
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>