<div class="container">
    <section class="home-intro">
        <div class="home-intro-wrapper">
            <div class="home-intro-container">
            </div>
            <div class="home-intro-content">
                <h1> Connecting Patients and Doctors Seamlessly </h1>
            </div>
        </div>
    </section>
</div>