<div class="container">
    <section class="home-intro">
        <div class="home-intro-wrapper">
            <div class="home-intro-container">
            </div>
            <div class="home-intro-content">
                <h1> Connecting Patients and Doctors Seamlessly </h1>
                <div class="home-intro-subcontent"> Make the most out of your appointments, improve your productivity and avoid dissapointments with MedMeet  </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="features-wrapper">
            <div class="features-container">
                <div class="features-container-even">
                    <div class="features-even-content">
                        <h2> Stay connected and Healthy! </h2>
                        <div class="features-even-subcontent">
                            Do you have a strange feeling you can't quite pinpoint, or need clarification on your prescriptions? MedMeet's chat feature keeps you connected to your doctor for any questions or concerns.
                        </div>
                    </div>
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img.png" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img2.png" alt="">
                    </div>
                    <div class="features-even-content">
                        <h2> Having a tight schedule? </h2>
                        <div class="features-even-subcontent">
                            Appointment rescheduling is made easy on MedMeet, And your time is better managed leading to an increased productivity.
                        </div>
                    </div>
                </div>
                <div class="features-container-even">
                    <div class="features-even-content">
                        <h2> Receive health tips from our AI companion  </h2>
                        <div class="features-even-subcontent">
                            Our AI companion offers personalized health tips to help you stay informed and maintain your well-being. With instant access to valuable advice, you can make better health decisions every day.
                        </div>
                    </div>
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img3.png" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img4.png" alt="">
                    </div>
                    <div class="features-even-content">
                        <h2> Medical report management </h2>
                        <div class="features-even-subcontent">
                            Doctors can upload reports and prescriptions in real-time to document treatment progress, giving you easy access to your entire report history.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta">
        <div class="cta-wrapper">
            <div class="cta-container">
                <h1> Elevate your medical experience today </h1>
                <div class="cta-container-btn-wrapper">
                    <a href="" class="cta-container-btn">Sign up</a>
                    <a href="" class="cta-container-btn">Pricing</a>
                </div>
            </div>
        </div>
    </section>
</div>