<div class="container">
    <section class="home-intro">
        <div class="home-intro-wrapper">
            <div class="home-intro-container">
            </div>
            <div class="home-intro-content">
                <h1> Connecting Patients and Doctors Seamlessly </h1>
                <div class="home-intro-subcontent"> Make the most out of your appointments, improve your productivity and avoid dissapointments with MedMeet  </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="features-wrapper">
            <div class="features-container">
                <div class="features-container-even">
                    <div class="features-even-content">
                        <h2> Stay connected and never miss an info! </h2>
                        <div class="features-even-subcontent">
                            Do you have a strange feeling you can't quite pinpoint, or need clarification on your prescriptions? MedMeet's chat feature keeps you connected to your doctor for any questions or concerns.
                        </div>
                    </div>
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img.png" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img.png" alt="">
                    </div>
                    <div class="features-even-content">
                        <h2> Stay connected! </h2>
                    </div>
                </div>
                <div class="features-container-even">
                    <div class="features-even-content">
                        blah3even
                    </div>
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img.png" alt="">
                    </div>
                </div>
                <div class="features-container-odd">
                    <div class="features-even-img">
                        <img src="/images/static_images/feat_img.png" alt="">
                    </div>
                    <div class="features-even-content">
                        blah4odd
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>